@import '../../app.less';

.my-page {
  position: relative;
  height: 100vh;
  .main-bg();

  .user-info {
    position: absolute;
    left: 50%;
    top: @gridHeight;
    transform: translateX(-50%);


    .avatar {
      position: relative;
      width: @gridWidth * 8;
      height: @gridHeight * 8;
      border-radius: @border-circle;

      image {
        position: absolute;
        width: @gridWidth * 6;
        height: @gridHeight * 6;
        border-radius: @border-circle;
        .center-position()
      }
    }

    .nickname {
      width: 100%;
      color: @white;
      text-align: center;
    }

    .login-btn {
      font-size: 28px;
      color: @white;
      width: @gridWidth * 7;
      height: @gridHeight * 3;
      background: linear-gradient(to right top, #ccc, @dark-theme);
    }
  }

  .func {
    position: absolute;
    top: 56%;
    right: 0;
    width: 350px;
    height: 350px;
    color: @white;
    font-size: 36px;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .item-size {
      @height: 80px;
      @border-radius: 60px;
      width: 350px;
      height: @height;
      line-height: @height;
      padding-left: 40px;
      border-top-left-radius: @border-radius;
      border-bottom-left-radius: @border-radius;
    }

    .favorite {
      .item-size();
      background-color: @green-color;
      border: 2px solid #97f36c;
    }

    .rank {
      .item-size();
      background-color: @purple-color;
      border: 2px solid #e17ef0;
    }

    .feetback {
      .item-size();
      background-color: @orange-color;
      border: 2px solid #ecd2ae;
    }

    .favorite-item-move {
      animation: favoItemMove 1s ease;
    }

    .rank-item-move {
      animation: rankItemMove 1.5s ease;
    }

    .feetback-item-move {
      animation: feetbackItemMove 2s ease;
    }

    @keyframes favoItemMove {
      0% {
        transform: translateX(220px);
      }

      100% {
        transform: translateX(0);
      }
    }

    @keyframes rankItemMove {
      0% {
        transform: translateX(220px);
      }

      100% {
        transform: translateX(0);
      }
    }

    @keyframes feetbackItemMove {
      0% {
        transform: translateX(220px);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  .chilun {
    position: absolute;
    top: 55%;
    left: 0;
    width: 550px;
    height: 550px;

    animation: rotation infinite 10s linear;
  }

  @keyframes rotation {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .grid-position {
    .purple-1 {
      position: absolute;
      left: @gridWidth * 4;
      top: @gridHeight * 4;
    }

    .purple-2 {
      position: absolute;
      top: @gridHeight * 10;
      right: @gridWidth * 5;
    }

    .green-2 {
      position: absolute;
      top: @gridHeight * 13;
      left: @gridWidth * 7;
    }

    .green-1 {
      position: absolute;
      bottom: @gridHeight * 4;
      left: @gridWidth * 4;
    }

    .orange-1 {
      position: absolute;
      bottom: @gridHeight * 6;
      right: @gridWidth * 2;
    }
  }
}
